.listItem {
  height: 8rem;
  display: flex;
  cursor: pointer;
}

.itemContent {
  padding: 20px;
}

.itemImage {
  width: 7rem;
  height: 7rem;
}

.itemTags {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.resultItemContainer {
  width: 100%;
  display: flex;
}
.itemHeader {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.text {
  padding: 2px;
}
