.paginationContainer {
  display: flex !important;
}
.feedContainer {
  padding-top: 10px;
  display: flex !important;
}
.list {
  margin: 0 auto !important;
}
.pagination {
  margin: 0 auto !important;
}
.resultHeader {
  color: #b90000 !important;
}
