.listItem {
  height: 8rem;
  display: flex;
  cursor: pointer;
}

.itemContent {
  padding: 20px;
}

.itemImage {
  width: 7rem;
  height: 7rem;
}

.resultItemContainer {
  width: 100%;
  display: flex;
}

.itemHeader.itemHeader.itemHeader.itemHeader.itemHeader {
  color: #b90000 !important;
}

.text {
  padding: 2px;
}
