.cardDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.photoCard {
  margin: 0 auto !important;
  margin-top: 20px !important;
}
.backButton {
  margin: 10px !important;
  background-color: transparent !important;
  color: #b90000 !important;
  font-size: 2rem !important;
  padding: 1rem !important;
}

.photoCardContainer {
  width: 100%;
}
